.register-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
}

.register-form label {
  display: block;
  margin-top: 1rem;
}

.register-form input {
  width: 100%;
  padding: 8px;
  margin-top: 0.25rem;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.register-form .submit {
  width: 100%;
  padding: 10px;
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form .submit:hover {
  background-color: var(--secondary-color);
}

.register-form .submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666; 
}

.register-form .submit:disabled:hover {
  background-color: #ccc;
}

.error {
  color: red;
  margin-top: 1rem;
}

.success {
  color: green;
  margin-top: 1rem;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* space for the toggle button */
}

.password-toggle {
  position: absolute;
  right: 1rem;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
}